.drop-zone__container {
  height: 100%;
  text-align: center;
  cursor: pointer;
  display: grid;
  grid-gap: 0;
  grid-template-rows: 80px 23px 30px;
  align-content: center;
  justify-content: center;
}

.drop-zone__container > img {
  margin: auto;
  transform: rotate(180deg);
}

.drop-zone__container:active {
  opacity: 0.5;
  transition: all 0.3s;
}

.current-upload-stat {
  display: flex;
  justify-content: space-between;
}
