.progress-bar__container {
  background-color: burlywood;

  width: 100%;
  border-radius: 3px;
  position: relative;
  margin-bottom: 8px;
}
.progress_file-details {
  line-height: 32px;
  vertical-align: middle;
  padding: 0 10px;
}

.progress-bar__status {
  background-color: rgba(137, 43, 226, 0.234);
  height: -webkit-fill-available;
  position: absolute;
  top: 0;
  border-radius: 3px;
}
