.file-upload-main__container {
  width: 640px;
  max-width: 95vw;
  background-color: rgba(84, 82, 78, 0.371);
  height: 500px;
  max-height: 70vh;
  margin: auto;
  margin-top: 20vh;
  border-radius: 6px;
}

.file-uploader-header {
  height: 40px;
  background-color: rgba(84, 82, 78, 0.46);
  border-radius: 6px 6px 0 0;
}
