.file-upload-main__container {
  width: 640px;
  max-width: 95vw;
  background-color: rgba(84, 82, 78, 0.371);
  height: 500px;
  max-height: 70vh;
  margin: auto;
  margin-top: 20vh;
  border-radius: 6px;
}

.main-container {
  display: flex;
}

.uploader-content {
  width: 100%;
  padding: 10px;
}
